.advantage {
  display: flex;
}

.advantage__element {
  width: 270px;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.advantage__title {
  @include font($fw: 700);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantage__paragraph {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
}

.advantage__thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--bgc-team-btn-portfolio);
  margin-bottom: 30px;
}
