.footer {
  background-color: var(--bgc-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-contacts:not(:last-child) {
  margin-bottom: 8px;
}

.location {
  color: var(--accent-white);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.contacts {
  color: var(--text-color-contacts);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.join-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--accent-white);
  margin-bottom: 20px;
}

.mail-input-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--accent-white);
  margin-bottom: 20px;
}

.mail-input {
  display: flex;
}

.mail-input-input {
  height: 50px;
  padding-left: 16px;
  color: var(--accent-white);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--bgc-footer);

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: var(--text-color-contacts);
  }
}

.mail-input-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  cursor: pointer;
  border: none;
  background-color: var(--accent-blue);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.mail-input-btn-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--accent-white);
}

.send-icon {
  fill: var(--accent-white);
}

@media screen and (max-width: 767px) {
  .location,
  .contacts,
  .join-title,
  .mail-input-title {
    text-align: center;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .address,
  .join {
    margin-bottom: 60px;
  }

  .mail-input {
    flex-direction: column;
    align-items: center;
  }

  .mail-input-input {
    max-width: 450px;
    margin-bottom: 20px;
  }

  .mail-input-btn-text {
    padding-right: 12px;
  }
}

@media screen and (min-width: 768px) {
  .footer-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  .address {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 165px;
    margin-left: 76px;
    margin-bottom: 60px;
  }

  .join,
  .mail-input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
  }

  .mail-input {
    flex-direction: column;
    align-items: center;
  }

  .mail-input-title {
    text-align: center;
  }

  .mail-input-input {
    width: 450px;
    margin-bottom: 20px;
  }

  .mail-input-btn-text {
    padding-right: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-contacts:not(:last-child) {
    margin-bottom: 9px;
  }

  .location,
  .contacts {
    transition: color var(--transition-dur-func);

    &:hover,
    &:focus {
      color: var(--accent-blue);
    }
  }

  .address {
    display: block;
    margin: 0;
  }

  .join {
    width: 206px;
    height: 80px;
    margin-left: 70px;
    margin-right: 93px;
  }

  .footer-flex {
    align-items: baseline;
  }

   .mail-input {
    flex-direction: row;
    align-items: center;
  }

  .mail-input-wrapper {
    margin-left: auto;
    margin-right: 0;
  }

  .mail-input-input {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }

  .mail-input-btn-text {
    padding-right: 10px;
  }
}
