.team-content {
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;
}

.team-title {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.team-paragraph {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.section.team {
  background-color: var(--bgc-team-btn-portfolio);
  padding-top: 60px;
}

.flex-team-element {
  width: 450px;
  margin-bottom: 30px;
  background-color: var(--accent-white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  &:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .flex-team {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
  }

  .flex-team-element {
    width: 354px;
    margin-bottom: 30px;

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  .flex-team {
    display: flex;
    flex-wrap: nowrap;
  }

  .team-content {
    padding-bottom: 30px;
  }

  .section.team {
    padding-top: 94px;
  }

  .flex-team-element {
    width: 270px;
    margin-bottom: 0;
  }
}
