.team-content {
  padding: 30px 0;
  text-align: center;
}

.team-title {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.team-paragraph {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.section.team {
  background-color: var(--bgc-team-btn-portfolio);
  padding-top: 94px;
}

.flex-team {
  display: flex;
}

.flex-team-element {
  width: 270px;
  margin-right: 30px;
  background-color: var(--accent-white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 4px 4px var(--box-shadow);

  &:last-child {
    margin-right: 0;
  }
}
