:root {
  --main-font: roboto, sans-serif;
  --secondary-font: raleway, sans-serif;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-blue: #2196f3;
  --accent-white: #ffffff;
  --bgc-footer: #2f303a;
  --bgc-hero: #c4c4c4;
  --text-color-contacts: rgba(255, 255, 255, 0.6);
  --bgc-team-btn-portfolio: #f5f4fa;
  --text-color-logo-header: #000000;
  --btn-active: #188ce8;
  --header-border: #ececec;
  --portfolio-element-border: #eeeeee;
  --social-link-color: #afb1b8;
  --social-link-bgc-footer: rgba(255, 255, 255, 0.1);
  --box-shadow: rgba(0, 0, 0, 0.25);
  --transition-dur-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}